{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт{% endblock %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar center-buttons">
        <a href="/" class="button{% if request.path == '/' %} active{% endif %}">Домой</a>
        {% if user.is_authenticated %}
            <a href="/users/search/" class="button{% if '/users/' in request.path %} active{% endif %}">Поиск пользователей</a>
            <a href="/blog/" class="button username{% if request.path|slice:':6' == '/blog/' %} active{% endif %}">{{ user.username }}</a>
            <a href="/logout/" class="button">Выйти</a>
        {% else %}
            <a href="/login/" class="button{% if '/login/' in request.path %} active{% endif %}">Войти</a>
        {% endif %}
        <a href="/admin/" class="button{% if '/admin/' in request.path %} active{% endif %}">Админка</a>
    </nav>
    <main>
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="post-card message-card {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
