{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Войти</h1>
<form method="post" class="centered-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Вход</button>
</form>
<div class="centered-form registration-link">
    <span>Еще не зарегистрированы?</span>
    <a class="button" href="/register/">Зарегистрироваться</a>
</div>
{% endblock %}
