{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1>Регистрация</h1>
<form method="post" class="centered-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        {{ form.email.label_tag }}<br>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div>
        {{ form.password2.label_tag }}<br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
